body {
  padding-top: 50px;;
    text-align: center;
}

.ctext {
    text-align: center; 
    margin: 0px 
}
 
.united {
    margin: 50px 200px;
    background-color: blueviolet;
    border-radius: 17px;
}

 html{
    background-image: url(background.png);
     background-repeat: no-repeat;
     background-size: cover;
}

.navBar {
    z-index: 1000;
}
.logo-title {
  margin: 0px 1000px
    background-color: blueviolet;
}

.HIV {
    text-align: center;
}

h1 {
    background-color: blueviolet;
    margin: 0px 400px;
    border-radius: 25px;
    
}

body {margin:0;
text-align: center;!important}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: darkviolet;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: purple;
}

.active {
  background-color: #4CAF50;
}

p {
    font-size: 20px;
}
