html {
  background: url(assets/red-blue.svg) no-repeat center center fixed;
  -webkit-background-size: 100%;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

  body {margin:0;}

.navBar {
  display: flex;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #b30000;
  position: fixed;
  top: 0;
  display: block;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: purple;
}

.active {
  background-color: #0000b3;
}
.intro {
  margin-top: 55px;
  background-clip: white;
}

body {
  padding-top: 25px;
}

.wrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  width: 250px;
  height: 250px;
}
.wrapper2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  width: 250px;
  height: 250px;
}

iframe {
  display: flex;
  align-items: center;
  margin-top: 5%;
}
